@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
.search-results{
  color: black;
  position: absolute;
  display: flex;
  left:9%;
  flex-direction: column;
  top:100%;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  width:80% ;
  visibility: hidden;
  opacity: 0;
  z-index: 333;
  max-height: 300px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.search-results.show-results {
  opacity: 1; 
  visibility: visible; 
}
.results{
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.results>span{
  margin: 16px;
}
.results:hover{
  scale: 103%;
  color: #1a1a1a;
  transition-duration: 500ms;
  background-color: beige;
}
.commentField{
  margin: 30px;
} 
